Repository Krivega/cancelable-promise: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore: update dependencies
  .husky/commit-msg
  .husky/pre-commit
  .ncurc.json
  package.json
  pre-commit
  src/__tests__/CancelableRequest.ts
  src/__tests__/cancelablePromise.ts
  src/cancelablePromise.ts
  src/error.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: fix
  package.json
Due: none

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 1.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: exports cjs
  .husky/commit-msg
  package.json
  pre-commit
  yarn.lock
Due: none

chore(release): 1.1.3
  CHANGELOG.md
  package.json
Due: prettier --write
