Repository Krivega/cancelable-promise: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 0.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: ts paths
  package.json
  rollup.config.js
  tsconfig.json
Due: none

fix: ts paths
  package.json
  tsconfig.build.json
  tsconfig.compiler.json
  tsconfig.json
Due: none

chore(release): 0.1.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore: clear
  rollup.config.js
Due: none

fix: ts
  src/CancelableRequest.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 0.1.5
  CHANGELOG.md
  package.json
Due: prettier --write

fix: typex
  src/CancelableRequest.ts
  src/__tests__/CancelableRequest.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.6
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix export libs
  package.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: none

chore(release): 0.1.7
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix dependencies
  package.json
Due: none

chore(release): 0.1.8
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix dependencies
  package.json
  yarn.lock
Due: none

chore: fix types
  src/CancelableRequest.ts
  src/__tests__/CancelableRequest.ts
Due: prettier --write, eslint --fix

chore: fix export libs
  package.json
  tsconfig.build.json
  tsconfig.compiler.json
Due: none

chore(release): 0.1.9
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  .eslintrc
  package.json
  yarn.lock
Due: none

chore(release): 0.1.10
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  .eslintrc
  package.json
  src/__tests__/CancelableRequest.ts
  src/__tests__/cancelablePromise.ts
  src/cancelablePromise.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat!: fix isCanceled error and move this from children modules
  package.json
  src/CancelableRequest.ts
  src/__tests__/CancelableRequest.ts
  src/__tests__/cancelablePromise.ts
  src/cancelablePromise.ts
  src/error.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix!: fix export createErrorCanceled
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

refactor: remove unusages
  src/__tests__/CancelableRequest.ts
Due: prettier --write, eslint --fix

feat: add basePromise to params afterCancelRequest
  src/CancelableRequest.ts
  src/__tests__/CancelableRequest.ts
Due: prettier --write, eslint --fix

feat!: change api afterCancelRequest, moduleName
  src/CancelableRequest.ts
  src/__tests__/CancelableRequest.ts
Due: prettier --write, eslint --fix

chore(release): 0.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  jest.config.js
  jest.config.mjs
  package.json
  rollup.config.mjs
  yarn.lock
Due: none

feat!: add params cancellationResolvesPromise and cancellationResolvesRequest
  src/CancelableRequest.ts
  src/__tests__/CancelableRequest.ts
  src/__tests__/cancelablePromise.ts
  src/cancelablePromise.ts
Due: prettier --write, eslint --fix

chore(release): 0.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: move build to vite
  .eslintignore
  .eslintrc
  .eslintrc.base.json
  .eslintrc.json
  .gitignore
  .huskyrc
  .lintstagedrc
  .ncurc.json
  .npmignore
  .prettierignore
  .prettierrc
  .versionrc.json
  commitlint.config.cjs
  commitlint.config.js
  jest.config.mjs
  jest.config.ts
  package.json
  rollup.config.mjs
  src/CancelableRequest.ts
  src/__tests__/CancelableRequest.ts
  src/__tests__/cancelablePromise.ts
  src/cancelablePromise.ts
  src/error.ts
  src/index.ts
  src/viteEnvironment.d.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.compiler.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: types
  src/CancelableRequest.ts
  src/__tests__/CancelableRequest.ts
Due: prettier --write, eslint --fix

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: export types
  src/index.ts
Due: prettier --write, eslint --fix

chore: fix publish script
  package.json
Due: none

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
